.menu{
   margin: 0;
   padding: 0;
   height: 100vh;
   z-index: 6;
   transition: 0.4s;
   &__inner{
       width: 10%;
       height: 100vh;
       background-color: #f3f3f3f3;
       transition: 0.4s;
       position: fixed;
       &:hover{
        transition: 0.4s;
        width: 20%;
       }
    }
    &__content{
        height: 100vh;
        background-color: #f3f3f3f3;
        border-right: 2px solid #000;
        transition: 0.4s;
       
    }
    &__content-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
    }
    &:hover &__content-block{
        width: 100px;
        transition: 1s;
    }
   &__logo{
       margin-top: 20px;
       border-radius: 50%;
       background-color: #c4c4c4c4;
       width: 65px;
       height: 65px;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
   }
   &__logo-item{
       font-size: 24px;
       font-weight: 700; 
   }
   &__logo-name{
    position: absolute;
    width: 300px;
    font-size: 22px;
    transition: 0.4s;
    cursor: pointer;
    left: 0px;
    opacity: 0;
    color: #000;
   }

   &:hover  &__logo-name{
    transition: 0.4s;
    left: 100px;
    opacity: 1;
    }
   &__items{
        padding: 0;
        margin-top: 75px; 
   }
   &__item{
        display: flex; 
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item-logo{
        border-radius: 50%;
        background-color: #c4c4c4c4;
        width: 65px;
        height: 65px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    &__transition{
        display: none;
    }
    &__item-name{
        position: absolute;
        margin-top: 17px;
        font-size: 24px;
        transition: 0.4s;
        cursor: pointer;
        transition: 0.4s;
        left: 50px;
        opacity: 0;
        &:hover{
            color: rgb(99, 99, 99);
        }
    }
    &:hover  &__item-name{
        transition: 0.4s;
        left: 100px;
        opacity: 1;
    }
    &:hover  &__transition{
       display: block;
    }
}