li{
  list-style: none;
}

.app{
  position: relative;
  font-family: 'Roboto', sans-serif;
  height: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.section{
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
